body {
    font-family: 'Poppins', verdana, Tahoma;
    background: url('path/to/your/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bebas Neue';
}

:root {
    --primary-color: #050505;
    --secondary-color: #273e47;
    --accent1-color: #ffffff;
    --accent2-color: white;

    --navigation-and-footer: var(--primary-color);
    --nav-text-color: var(--accent2-color);
    --text-body-color: var(--secondary-color);

    --hover-nav-text: var(--primary-color);
    --hover-nav-bg: var(--accent2-color);

}

.navigation {
    text-align: center;
    background-color: var(--navigation-and-footer);
    color: var(--nav-text-color);
}

#hero {
    display: block;
}

main {
    display: block;
    text-align: center;
}


#menu::before {
    content: '≡';
    color: var(--accent2-color);
    background-color: var(--navigation-and-footer);
    outline: 0;
    font-size: 2rem;
    display: block;
}

#menu {
    background-color: var(--primary-color);
    border: none;
}

.menu-container {
    text-align: right;
    background-color: var(--primary-color);
}

#menu.open::before {
    content: '✕';
}

#Curitiba-image {
    width: 70%;
}

#hero-img {
    width: 100%;
}

#Curitiba-img {
    width: 100%;
}

button {
    background-color: var(--accent1-color);
    padding: 1rem;
    border-radius: 10%;
    color: black;
    cursor: pointer;

}
.join-button {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
    padding: 1rem;
    cursor: pointer;
}
.join-button:hover {
    background-color: var(--accent1-color);
    color: black; 
}
#hero-text {
    text-align: center;
    vertical-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    display: none;
    padding: 10px;
}

.open a {
    display: block;
}

footer {
    display: block;
    background-color: var(--navigation-and-footer);
    color: var(--nav-text-color);
    padding: 5px;
}



nav a.active {
    color: var(--hover-nav-text);
    background-color: rgba(255, 255, 255, 0.8);
}

nav a:hover {
    color: var(--hover-nav-text);
    background-color: var(--hover-nav-bg);
}

#logo-box:hover {
    background-color: var(--primary-color);
}

#logo-box {
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
}

#logo-link {
    color: white;
}

.logo {
    width: 150px;
    height: auto;
}

.discovery-main {
    display: block;
}

.Curitiba-image-discovery {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.Curitiba-images {
    margin: 20px;
    position: relative;
}

.Curitiba-images p {
    position: absolute;
    bottom: 15%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

.title-box {
    width: 100%;
}

.side-info {
    border: 1px solid rgb(185, 185, 185);
    margin: 10px;
}